*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #f4f4f4;
    width: 80%;
    margin: auto;
}
.images-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}
.image{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out all;
}
.image img:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 20px black;
}
.big-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}
.big-img{
    height: 500px;
    width: 800px;
    background-position: center;
    background-size: cover;
    position: relative;    
}
.big-img a{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 3px solid white;
    border-radius: 50%;
}
.big-img a:hover{
    transform: scale(1.1);
}
.visible{
    opacity: 1;
    visibility: visible;
}
.arrows i{
    font-size: 3rem;
    color: white;
}
.arrows i:hover{
    color: lightgray;
    cursor: pointer;
}
.fa-arrow-left,.fa-arrow-right{
    position: absolute;
    padding: 30px;
    top: 50%; 
    transform: translateY(-50%);
}
.fa-arrow-left{
    left: 0;
}
.fa-arrow-right{
    right: 0;
}
.dots{
    height: 15px;
    width: 15px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    left: 40%;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.dots:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.dot-0{
    margin-left: 30px;
}
.dot-1{
    margin-left: 60px;
}
.dot-2{
    margin-left: 90px;
}
.dot-3{
    margin-left: 120px;
}
.big{
    height: 30px;
    width: 30px;
}